body
{
    background-image: url('back.jpg');
    background-position: fixed;
    background-repeat: repeat;
    background-size: cover;
    margin: 0 auto;
}
.nav-bar
{
    width: 100%;
    height: 60px;
   
    display: block;
    background-color: cornflowerblue;
    color: black;
   
}
.hsp_server
{
    text-align: center;
    position: absolute;
    display: inline-flex;
    margin-left: 2%;
    margin-top: 16px;
    
}
.navButton
{
    float: right;
    margin-right: 2%;
    margin-top: 16px;
}

button
{
    border-style: none;
    background-color: transparent;
    border: none;
    height: 30px;
   
}

button:hover
{
    color: white;
    background-color: transparent;
    
   
}
.container
{
    position: absolute;
    top: 100px;
    left: 2%;
    width: 100%;
}
#buttons
{
    position: fixed;
    display: inline-block;
    width: 50%;
}
#btn
{
    background-color: cornflowerblue;
    border-radius: 12px;
    padding: 10px 30px;
    margin: 10px;
    height: 20%;
    width: 60%;
    display: block;
}
#btn:hover
{
    background-color:thistle;
    opacity: 0.8;
    color: black;

}

.reportsDiv
{   margin-left: 300px;
    margin-top: -220px;
    width: 100%;
    height: 100%;
}

td
{
    padding: 20px;
}

#availablemedication-container {
    position: center;
    margin-top: -500px;
    font-size: 22px;
}


