@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
    <div id="buttons">
        <button id="btn" asp-controller="Home" asp-action="Add"> Add new pharmacy     </button>
        <button id="btn" asp-controller="Home" asp-action="ActionAndBenefits"> Action & Benefits     </button>
        <button id="btn" asp-controller="Home" asp-action="Reports"> Reports    </button>
    </div>

