@{
    ViewData["Title"] = "Action and benefits";
    Layout = "_Layout";
}

<div class="action-div">
    <h2>New action: </h2>
    <table class="table" id="tabelAction">
        <tr>
            <th>Phamracy name</th>
            <th>Action name</th>
            <th>Begin date</th>
            <th>End date</th>
            <th>Old Cost</th>
            <th>New Cost</th>
        </tr>
        <tbody>
        </tbody>

    </table>

    
    <script>


    </script>
    <script src="~/Views/assets/js/ActionAndBenefits.js"></script>
    <script src="~/Views/assets/js/jquery.min.js"></script>
</div>

<style>
    
    table {
        border: none;
        padding: 5px;
        font-size: 22px;
        text-align: center;
        background-color: cornflowerblue;
        opacity: 0.7;
        width: 100%;
    }

    td {
        width: auto;
    }

    tr {
        width: auto;
    }

    button {
        font-size: 22px;
    }
</style>