@{
    ViewData["Title"] = "Get specification";
    Layout = "_Layout";
}

<div class="specification-container">
    <h3></h3>
    <form>
        <table>
            <tr>
                <td style="padding:5px"> Name: </td>
                <td style="padding: 0px" ><input type="text" id="name" style="height: 20px"> </td>
                <td style="padding:5px"><input type="submit" id="send" value="Send request" style="font-size: 18px; width:150px
" ></td>           
            </tr>




        </table>
    </form>
    <script language="JavaScript" type="text/javascript" src="~/Views/assets/js/GetSpecification.js"></script>

</div>
           